.DS_Store
.Rhistory
.gdb_history
.sachist
*.o
*.dSYM
checkleapsecs
cfg/
decode_99
decode_99.c
decodev2
decodev2.c
decodev3
decodev3.c
doextract-orig.sh
dofixleap-v3
dumpv2
dumpv3
masspos
mseedsort
mseedtime
nmx/
packet25.dat
packetv2.txt
rnmseed
splitseed
tv2mseed
tv2msleapfix
tv3mseed
tv3msleapfix
